.button {
	display: block;
    border: 1px solid grey;
    border-radius: 5px;
	text-align: center;
	text-decoration: none;
    line-height: 200%;
	transition: 0.3s;
    background-color: lightskyblue;
    margin: 10px;

	&:active,
	&:hover,
	&:focus,
	&:visited {
		text-decoration: none;
		outline: none;
	}

    &:hover {
        background-color: rgb(157, 213, 248);
    }

	&:active {
		background-color: rgb(0, 157, 255);
	}

    &_sm {
        width: 100px;
    }

    &_md {
        width: 200px;
    }
}

.right {
    float: right;
}
