.nav-list__item a {
	display: block;
	color: black;
	line-height: normal;
	text-decoration: none;

	&:active,
	&:focus,
	&:visited {
		text-decoration: none;
		color: black;
	}

	&:hover {
		background-color: aliceblue;
	}

	&.active {
		background-color: aquamarine;
	}
}
