.field-tetris {
    position: relative;
    height: 602px;
    border: 1px solid gray;
}

.next-figure {
    &__container {
        padding: 10px;
    }
    &__canvas {
        border: 1px solid red;
    }
}
