.knight-field {
    position: relative;
    display: grid;
    grid-area: field;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    width: fit-content;
    height: fit-content;
    border: 1px solid grey;
}
